<div class="card mb-3 w-100 rounded-5 rr-bg-secondary" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-9">
      <div class="card-body">
        <div class="d-flex justify-content-between flex-wrap">
          <h6 class="card-title d-inline me-2" style="word-break: break-word">{{ eventResume.activity }}</h6>
          <h6 class="card-title d-inline">{{ eventResume.date | date: 'dd/MM/yyyy' }}</h6>
        </div>
        <div class="d-flex align-items-center flex-wrap row-gap-2 column-gap-2 overflow-y-auto"
             style="max-height: 3rem">
          @for (h of eventResume.startingHours; track h) {
            <div class="d-inline-block border rr-border-primary-color rounded-5 pe-2 ps-2
                        d-flex align-items-center"
                 style="font-size: 0.85rem">
              <span>{{ h | hour }}</span>
            </div>
          }
        </div>
        <div class="mt-2" style="font-size: 0.95rem">
          <span>Inscripción: ${{ eventResume.inscriptionPrice }}</span><br>
          <span>Cantidad: {{ eventResume.participantsCount }}/{{ eventResume.participantsLimit }}</span>
          <div class="d-flex align-items-center flex-wrap row-gap-2 column-gap-2 overflow-y-auto"
               style="max-height: 3rem; font-size: 1.1rem">
            @if (eventResume.participantsLimit < 50) {
              @for (_ of Array.from({length: eventResume.participantsLimit}); track _; let i = $index) {
                @if (i < eventResume.participantsCount) {
                  <i class="bi bi-person-fill me-1" style="font-size: 1.5rem"></i>
                } @else {
                  <i class="bi bi-person me-1" style="font-size: 1.5rem"></i>
                }
              }
            } @else {
              @for (_ of Array.from({length: 49}); track _; let i = $index) {
                @if (i < eventResume.participantsCount) {
                  <i class="bi bi-person-fill me-1" style="font-size: 1.5rem"></i>
                } @else {
                  <i class="bi bi-person me-1" style="font-size: 1.5rem"></i>
                }
              }
              <span>...+{{ eventResume.participantsLimit - 49 }}</span>
            }
          </div>
            <div>
              @switch (eventResume.inscriptionStatus) {
                @case (EventInscriptionStatus.ACCEPTED) {
                  <span class="badge bg-success" style="text-wrap: wrap;">Inscripción aceptada.</span>
                }
                @case (EventInscriptionStatus.INCOMPLETE_MISSING_PAYMENT_AND_HOUR_VOTE) {
                  <span class="badge bg-primary" style="text-wrap: wrap;">Inscripción pendiente de pago.</span>
                }
                @case (EventInscriptionStatus.INCOMPLETE_MISSING_HOUR_VOTE) {
                  <span class="badge bg-primary" style="text-wrap: wrap;">Inscripción pendiente votación de hora.</span>
                }
                @case (EventInscriptionStatus.REJECTED) {
                  <span class="badge bg-danger" style="text-wrap: wrap;">Inscripción rechazada.</span>
                }
              }
            </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button type="submit" class="w-100 btn rr-btn h-100 rounded-start-0 rounded-end-5"
              (click)="onViewEventClick(eventResume.eventId)">Ver Sala
      </button>
    </div>
  </div>
</div>
