@if (isEventLoaded$.value) {
  <div class="main-container container d-flex flex-column  align-items-center rr-black-text
             mt-3 pb-5">
    @if (event.eventInscriptionStatus === EventInscriptionStatus.ACCEPTED || showAsACreatorView) {
      <div class="pages-controls w-100 d-flex justify-content-around column-gap-5">
        <span class="page-selector" (click)="onSelectPage()"
          [class.selected-page]="!isChatPageSelected">Detalles del evento</span>
        <span class="page-selector" (click)="onSelectPage()"
              [class.selected-page]="isChatPageSelected">Chat</span>
      </div>
      @if (!isChatPageSelected) {
        <div class="overflow-y-auto">
          @if(showAsACreatorView) {
            <rr-my-created-event [event]="event"/>
          } @else {
            <rr-event-details-component [event]="event"/>
          }
        </div>
      }
        <div class="mt-1 pb-2 w-100 start-0 top-0 z-3 h-100"
          [ngClass]="!isChatPageSelected ? 'invisible position-absolute' : 'position-static visible'">
          <rr-chat [chatId]="event.chatId"/>
        </div>
    } @else {
      <rr-event-details-component [event]="event"/>
    }
  </div>
}
