<div class="container vh-90 d-flex align-items-center justify-content-center flex-column">
    <div class="d-flex justify-content-center">
        <h1 class="rr-dark-purple-text">Tus eventos</h1>
    </div>

    <div class="pages-controls w-100 d-flex justify-content-around column-gap-5">
        <span class="page-selector" (click)="onSelectPage()"
            [class.selected-page]="!isMyCreatedEventsPageSelected"
        >
            Participando
        </span>

        <span class="page-selector" (click)="onSelectPage()"
              [class.selected-page]="isMyCreatedEventsPageSelected">Creados por tí</span>
    </div>

    <div class="overflow-x-auto mt-3 w-100">
        <div [(ngbCollapse)]="isFiltersFormCollapsed" #collapsedForm="ngbCollapse">
            <form [formGroup]="filtersForm" class="p-2">
                <div class="d-flex justify-content-between column-gap-2">
                    <div #dateDropdown="ngbDropdown" ngbDropdown container="body">
                        <button type="button" class="btn border rr-border-primary-color" ngbDropdownToggle>
                            Fecha del evento
                        </button>
                        <div ngbDropdownMenu class="rr-bg-primary">
                            <div class="px-4 py-3">
                                <div class="mb-3">
                                    <label class="form-label align-self-center">Desde</label>
                                    <input type="date" class="form-control rr-input" formControlName="dateFrom"
                                           style="min-width: 150px">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label align-self-center">Hasta</label>
                                    <input type="date" class="form-control rr-input" formControlName="dateTo"
                                           style="min-width: 150px">
                                </div>
                                <button type="button" class="btn rr-btn" (click)="dateDropdown.close()">Aceptar</button>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <input type="text" class="form-control rr-input"
                               name="activity" id="activity-input" placeholder="actividad"
                               formControlName="activity"
                               (blur)="onBlurActivityInput()"
                               [value]="selectedActivity"
                               aria-describedby="actividad"
                               style="min-width: 100px">
                        <rr-search-results-list [resultsList]="suggestedActivities"
                                                (onSelectedResult)="onClickActivitySearchResult($event)"/>
                    </div>
                    <div class="position-relative">
            <textarea type="text" class="form-control rr-input" name="location"
                      id="location-input" placeholder="Ej.: Provincia, departamento, localidad..."
                      formControlName="location" (blur)="onBlurLocationInput()" style="min-width: 500px"
                      aria-describedby="Locación" [ngClass]="formattedNames.length > 0
                      ? 'no-rounded-bottom-corners' : 'rounded-bottom-corners'" rows="2"
                      [class.is-invalid]="filtersForm.controls['location'].invalid
                      && (filtersForm.controls['location'].touched || filtersForm.controls['location'].dirty)"></textarea>
                        <rr-search-results-list [resultsList]="formattedNames"
                                                (onSelectedResult)="onClickPlaceSearchResult($event)"/>
                        @if (filtersForm.controls['location'].value !== "" && selectedPlace == undefined) {
                            <span class="error-text">La localidad debe ser seleccionada desde la lista de sugerencias.</span>
                        }
                    </div>
                </div>
                <button class="btn rr-btn mt-2" (click)="searchEvents()" style="position: sticky; left: 0">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center" (click)="collapsedForm.toggle()">
        <i class="bi"
           style="font-size: 1.8rem;"
           [ngClass]="isFiltersFormCollapsed ? 'bi-caret-down' : 'bi-caret-up'"></i>
    </div>

    <div class="events-container mt-1 ps-3 pe-3"
         [class.overflow-y-auto]="events && events.results && events.results.length > 1"
         style="max-height: 50vh"
    >

        @if (eventsAreLoading) {
            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        } @else {
            @if (events.results.length < 1) {
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-calendar-x" style="font-size: 4rem"></i>
                    @if (isMyCreatedEventsPageSelected) {
                        <h5 class="text-bold">Aún no haz creado ningún evento.</h5>
                        <button class="btn rr-btn w-100" (click)="onCreateEvent()">Crear Evento</button>
                    } @else {
                        <h6 class="text-bold">Aún no te haz unido a ningún evento.</h6>
                        <button class="btn rr-btn w-100"
                                [routerLink]="['/events/', { outlets: { events: ['search']}}]">Buscar Evento
                        </button>
                    }
                </div>
            } @else {
                @if (isMyCreatedEventsPageSelected) {
                    <div class="d-flex justify-content-center m-2">
                        <button class="btn rr-btn" (click)="onClickInscriptionsTrend()">Ver tendencias de inscripción a
                            mís
                            eventos
                        </button>
                    </div>
                }
                <div class="row row-gap-3 justify-content-center align-items-center pe-3 ps-3">
                    @for (event of events.results; track event.eventId) {
                        <div class="col-12 d-flex justify-content-center">
                            <rr-event-resume-card class="w-100" [eventResume]="event"
                                                  (onSeeEvent)="onSeeEvent($event)"/>
                        </div>
                    }
                    <div class="col-12">
                        <ngb-pagination class="d-flex justify-content-center" [pageSize]="events.pageSize"
                                        [collectionSize]="events.totalElements"
                                        [page]="actualPage" [directionLinks]="false">
                            <ng-template ngbPaginationPages let-page let-pages="pages">
                                @if (pages.length > 0) {
                                    @for (p of pages; track p) {
                                        <li class="page-item">
                                            <a class="page-link"
                                               [class.text-bold]="actualPage == p"
                                               [style.background-color]="actualPage == p ? '#d9941c' : ''"
                                               (click)="onSelectSpecificPage(p)">
                                                {{ p }}
                                            </a>
                                        </li>
                                    }
                                }
                            </ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            }
        }
    </div>
</div>
