@if(isEventLoaded){
  <div class="container d-flex flex-column justify-content-center align-items-start rr-black-text
             mt-3 pb-5">
    <div class="row row-gap-2 overflow-y-auto p-2">
      <h1 class="text-bold rr-dark-purple-text">{{ event.event.activity }}</h1>
      <div class="col-12">
        <div class="d-flex column-gap-2">
          @if (eventCreator.base64encodedProfileImage) {
            <div class="guest">
              <img [src]="'data:image/*;base64, ' + eventCreator.base64encodedProfileImage" alt="foto-invitado">
              <div class="guest-name-container pe-1 ps-1">
                <span>{{  eventCreator.name }}</span>
              </div>
            </div>
          }
          <div class="d-flex flex-column justify-content-center align-items-start">
            <h6 class="rr-dark-purple-text text-bold">Creador: {{eventCreator.name}}</h6>
            <h6 class="rr-dark-purple-text text-bold">Reputación: {{ event.eventCreatorReputation }}</h6>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p class="w-100">{{ event.event.description }}</p>
      </div>
      <div class="col-12">
        <h5 class="rr-dark-purple-text text-bold">Ubicación</h5>
        <div class="d-flex align-items-center justify-content-between">
          <span>{{ event.event.address.getFormattedName() }}</span>
          <i class="bi bi-geo-alt ms-1 rr-dark-purple-text" style="font-size: 2rem"></i>
        </div>
      </div>
      <div class="col-12">
        <h5 class="rr-dark-purple-text text-bold">Fecha</h5>
        <div class="d-flex align-items-center justify-content-between">
          <span>{{ event.event.date | date:"dd/MM/yyyy" }}</span>
          <i class="bi bi-calendar ms-4 rr-dark-purple-text" style="font-size: 2rem"></i>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <h5 class="rr-dark-purple-text text-bold">Posibles horarios de inicio</h5>
        <div class="d-flex align-items-center justify-content-between justify-content-lg-between me-lg-5">
          <div class="d-inline-block">
            @for (h of event.event.startingHours; track h) {
              <div class="d-inline-block border rr-border-primary-color rounded-5 pe-2 ps-2 me-2"
                   style="font-size: 0.85rem">
                <span>{{ h | hour }}</span>
              </div>
            }
          </div>
          <i class="bi bi-clock ms-4 rr-dark-purple-text" style="font-size: 2rem"></i>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <h5 class="rr-dark-purple-text text-bold">Duración</h5>
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <span>{{ event.event.duration }} </span>
            @if (event.event.durationUnit === EventDurationUnit.HOUR) {
              <span>hora/s</span>
            } @else {
              <span>minutos</span>
            }
          </div>
          <i class="bi bi-stopwatch ms-4 rr-dark-purple-text" style="font-size: 2rem"></i>
        </div>
      </div>
      <div class="col-12">
        <h5 class="rr-dark-purple-text text-bold">Precio de inscripción</h5>
        <span>{{ event.event.inscriptionPrice }}</span>
      </div>
      <div class="col-12">
        <h5 class="rr-dark-purple-text text-bold">Participantes</h5>
        @for (p of event.eventParticipants; track p) {
          @if (!p.eventCreator || (p.eventCreator && event.event.eventCreatorIsParticipant)) {
            <i class="bi bi-person-fill"></i>
          }
        }
        @for (_ of Array.from({length: event.event.participantsLimit - event.eventParticipants.length});
          track _) {
          <i class="bi bi-person"></i>
        }
        <span> {{
            event.event.eventCreatorIsParticipant ?  event.eventParticipants.length
          : event.eventParticipants.length - 1 }}/{{ event.event.participantsLimit }}
        </span>
      </div>
      <div class="col-12">
        <div class="d-flex align-items-center flex-wrap">
          <div class="guests-container">
            @for (g of event.eventParticipants; track g) {
              @if (!g.eventCreator || (g.eventCreator && event.event.eventCreatorIsParticipant)) {
                <div class="guest me-1">
                  @if (g.participant.base64encodedProfileImage != null) {
                    <img [src]="'data:image/*;base64, ' + g.participant.base64encodedProfileImage" alt="foto-invitado">
                  } @else {
                    <div class="guest-name-container pe-1 ps-1">
                      <span>{{ g.participant.name }}</span>
                    </div>
                  }
                </div>
              }
            }
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn rr-btn w-100 d-flex align-items-center justify-content-between">
          <span class="flex-grow-1">Unirse</span> <i class="bi bi-box-arrow-right"></i></button>
      </div>
      <div class="col-12">
        <button class="btn rr-btn w-100 d-flex align-items-center justify-content-between">
          <span class="flex-grow-1">Enviar mensaje al creador</span>
          <i class="bi bi-send"></i></button>
      </div>
    </div>
  </div>
}

