<div class="mb-3 p-2">
  <div class="d-flex justify-content-start column-gap-2">
    <select name="month" id="month" class="form-select rr-input" (change)="loadData()" [(ngModel)]="selectedMonth">
      <option [value]="0">Selecciona el mes</option>
      <option value='1'>Enero</option>
      <option value='2'>Febrero</option>
      <option value='3'>Marzo</option>
      <option value='4'>Abril</option>
      <option value='5'>Mayo</option>
      <option value='6'>Junio</option>
      <option value='7'>Julio</option>
      <option value='8'>Agosto</option>
      <option value='9'>Septiembre</option>
      <option value='10'>Octubre</option>
      <option value='11'>Noviembre</option>
      <option value='12'>Diciembre</option>
    </select>
    <input type="number" id="year" class="form-control rr-input" (change)="loadData()" [(ngModel)]="selectedYear">
  </div>
</div>

@if(chartDataSet.datasets.length > 0) {
  <div class="p-2">
    <div class="w-100">
      <canvas class="rounded-3" #canvas baseChart [data]="chartDataSet" [type]="'bar'" [plugins]="chartPlugins"></canvas>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary m-1" (click)="onDownloadPdf()">Descargar PDF</button>
      </div>
    </div>
  </div>
}
