<div class="rr-bg-secondary rounded-2">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Top creadores de eventos.</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" class="d-flex flex-column">
      <label for="password-input" class="rr-black-text form-label">Contraseña</label>
      <div class="input-group">
        <input [type]="passwordIsHide ? 'password' : 'text'"
               class="form-control rr-input border-end-0" formControlName="oldPassword" name="oldPassword"
               id="password-input"
               aria-describedby="contraseña" [class.is-invalid]="form.controls['oldPassword'].invalid
               && (form.controls['oldPassword'].touched || form.controls['oldPassword'].dirty)">
        <button (click)="togglePasswordVisibility()"
                tabindex="-1"
                class="rr-hide-password-btn rr-border-primary-color border-start-0 pe-3"
                style="background-color: var(--input-primary)"
                type="button" [class.border-danger]="form.controls['oldPassword'].invalid
               && (form.controls['oldPassword'].touched || form.controls['oldPassword'].dirty)">
          @if (passwordIsHide) {
            <i class="bi bi-eye-fill"></i>
          } @else {
            <i class="bi bi-eye-slash-fill"></i>
          }
        </button>
      </div>

      @if (form.controls['oldPassword'].invalid
      && (form.controls['oldPassword'].touched || form.controls['oldPassword'].dirty)) {
        <div class="invalid-feedback d-block">
          @if (form.controls['oldPassword'].hasError('required')) {
            <span class="error-text">Este campo es requerido.</span>
          }
          @if (form.controls['oldPassword'].hasError('minlength')) {
            <span class="error-text">La contraseña debe contener como mínimo 5 caracteres.</span>
          }
        </div>
      }

      <label for="new-password-input" class="rr-black-text form-label">Nueva contraseña</label>
      <div class="input-group">
        <input [type]="newPasswordIsHide ? 'password' : 'text'" class="form-control rr-input border-end-0"
               formControlName="password" name="password"
               id="new-password-input"
               aria-describedby="nueva contraseña" [class.is-invalid]="form.controls['password'].invalid
               && (form.controls['password'].touched || form.controls['password'].dirty)">
        <button (click)="toggleNewPasswordVisibility()"
                tabindex="-1"
                class="rr-hide-password-btn rr-border-primary-color border-start-0 pe-3" type="button"
                style="background-color: var(--input-primary)"
                [class.border-danger]="form.controls['password'].invalid
               && (form.controls['password'].touched || form.controls['password'].dirty)">
          @if (newPasswordIsHide) {
            <i class="bi bi-eye-fill"></i>
          } @else {
            <i class="bi bi-eye-slash-fill"></i>
          }
        </button>
      </div>
      @if (form.controls['password'].invalid
      && (form.controls['password'].touched || form.controls['password'].dirty)) {
        <div class="invalid-feedback d-block">
          @if (form.controls['password'].hasError('required')) {
            <span class="error-text">Este campo es requerido.</span>
          }
        </div>
      }

      <label for="confirm-password-input" class="rr-black-text form-label">Confirmar contraseña</label>
      <div class="input-group">
        <input [type]="confirmPasswordIsHide ? 'password' : 'text'" class="form-control rr-input border-end-0"
               formControlName="confirmPassword" name="confirmPassword"
               id="confirm-password-input"
               aria-describedby="confirmar contraseña" [class.is-invalid]="form.controls['confirmPassword'].invalid
               && (form.controls['confirmPassword'].touched || form.controls['confirmPassword'].dirty)">
        <button (click)="toggleConfirmPasswordVisibility()"
                tabindex="-1"
                class="rr-hide-password-btn rr-border-primary-color border-start-0 pe-3" type="button"
                style="background-color: var(--input-primary)"
                [class.border-danger]="form.controls['confirmPassword'].invalid
               && (form.controls['confirmPassword'].touched || form.controls['confirmPassword'].dirty)">
          @if (confirmPasswordIsHide) {
            <i class="bi bi-eye-fill"></i>
          } @else {
            <i class="bi bi-eye-slash-fill"></i>
          }
        </button>
      </div>
      @if (form.controls['confirmPassword'].invalid
      && (form.controls['confirmPassword'].touched || form.controls['confirmPassword'].dirty)) {
        <div class="invalid-feedback d-block">
          @if (form.controls['confirmPassword'].hasError('required')) {
            <span class="error-text">Este campo es requerido.</span>
          }
        </div>
      }

      @if (form.hasError("passwordMatch")) {
        <div>
          <span class="error-text">Las contraseñas deben coincidir.</span>
        </div>
      }
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="activeModal.dismiss()">Cancelar</button>
    <button class="btn rr-btn" (click)="onChangePassword()">Aceptar</button>
  </div>
</div>
