<div class="container d-flex flex-column justify-content-center rr-black-text">
  <h2 class="rr-dark-purple-text text-bold">Confirmar email.</h2>
  <p>Te hemos enviado un código a tu correo
    electrónico, por favor introdúcelo aquí así
    podemos confirmar tu cuenta.
  </p>
  <p class="text-secondary" style="font-size: 0.95rem; font-style: italic">
    Ten en cuenta que el código expira en 10 minutos.
  </p>
  <form class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="col-12 col-md-6">
      <label for="codeInput">Código</label>
      <input id="codeInput" type="text" #codeInput="ngModel" [(ngModel)]="verificationCode"
             class="form-control rr-input" required minlength="6" maxlength="6" name="codeInput">
      @if (codeInput.hasError('required') && (codeInput.touched || codeInput.dirty)) {
          <span class="error-text">Este campo es requerido.</span>
      }
      @if (codeInput.hasError('minlength') && (codeInput.touched || codeInput.dirty)) {
          <span class="error-text">El código debe ser de 6 dígitos.</span>
      }
      @if (codeInput.hasError('maxlength') && (codeInput.touched || codeInput.dirty)) {
          <span class="error-text">El código no puede tener mas de 6 dígitos.</span>
      }
      <a class="link-primary d-block" (click)="onResendToken()" style="font-size: 0.95rem">Reenviar código.</a>
    </div>
    <div class="col-12 col-md-6">
      <button type="submit" class="mt-4 btn rr-btn w-100">Confirmar</button>
    </div>
  </form>
</div>
