<div class="container vh-100 d-flex flex-column justify-content-center rr-text">
  <h1 class="rr-dark-purple-text"><strong>Confirmar email.</strong></h1>
  <p>Te hemos enviado un código a tu correo
    electrónico, por favor introdúcelo aquí así
    podemos confirmar tu cuenta.
  </p>
  <form class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="col-12 col-md-6">
      <label for="codeInput">Código</label>
      <input id="codeInput" type="text" #codeInput="ngModel" [(ngModel)]="verificationCode"
             class="form-control rr-input" required minlength="6" maxlength="6" name="codeInput">
      @if (codeInput.hasError('required') && (codeInput.touched || codeInput.dirty)) {
          <span class="error-text">Este campo es requerido.</span>
      }
      @if (codeInput.hasError('minlength') && (codeInput.touched || codeInput.dirty)) {
          <span class="error-text">El código debe ser de 6 dígitos.</span>
      }
      @if (codeInput.hasError('maxlength') && (codeInput.touched || codeInput.dirty)) {
          <span class="error-text">El código no puede tener mas de 6 dígitos.</span>
      }
    </div>
    <div class="col-12 col-md-6">
      <button type="submit" class="mt-4 btn rr-btn w-100">Confirmar</button>
    </div>
  </form>
</div>
