.guest {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.guest img {
  width: 3rem;
  height: 3rem;
}

.guest:hover {
  transform: none;
}

table {
  border-color:var(--primary-border);
}

table > :not(caption) > * > * {
  background-color: var(--rr-secondary);
}
