<rr-navbar [floatingNavbar]="true" [navBarItems]="navbarItems" itemsColor="var(--black-100)" itemsIconFontSize="1.5rem"
           itemsTitleFontSize="1.1rem"/>
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
  <div>
    @if(username) {
      <h1 class="rr-dark-purple-text text-center">Bienvenido de nuevo {{ username }}!</h1>
    } @else {
      <h1 class="rr-dark-purple-text text-center">Bienvenido de nuevo!</h1>
    }
    <h3 class="rr-dark-purple-text text-center text-bold">¿Qué quieres hacer?</h3>
    <div class="row row-cols-1 gy-1 mt-2">
      <div class="col">
        <button class="btn rr-btn w-100"
                [routerLink]="['/events/', { outlets: { events: ['search']}}]">
          Buscar evento
        </button>
      </div>
      <div class="col">
        <button class="btn rr-btn w-100" (click)="onCreateEvent()">Crear evento</button>
      </div>
      <div class="col">
        <button class="btn rr-btn w-100"
                [routerLink]="['/events/', { outlets: { events: ['myevents']}}]">Ver mis eventos</button>
      </div>
      <div class="col">
        <button class="btn rr-btn w-100" (click)="onClickTopCreators()">Top creadores de eventos</button>
      </div>
    </div>
  </div>
</div>

<div class="position-absolute" style="top: 20%; left: 0.5%">
  <button type="button" class="btn rr-btn rounded-5 position-relative" (click)="onShowNotifications()">
    <i class="bi bi-bell" style="font-size: 1.7rem"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      @if(userNotifications.length < 100) {
        {{ userNotifications.length }}
      } @else {
        +99
      }
    <span class="visually-hidden">unread notifications</span>
  </span>
  </button>
</div>
