@if (isEventLoaded) {
  <div class="container d-flex flex-column justify-content-center align-items-start rr-black-text
             mt-3">
    <div class="row row-gap-2 p-2">
      <h1 class="text-bold rr-dark-purple-text">{{ event.activity }}</h1>
      <div class="col-12">
        <p class="w-100">{{ event.description }}</p>
      </div>
      <div class="col-12">
        <h5 class="rr-dark-purple-text text-bold">Ubicación</h5>
        <div class="d-flex align-items-center justify-content-between">
          <span>{{ event.address.getFormattedName() }}</span>
          <i class="bi bi-geo-alt ms-1 rr-dark-purple-text" style="font-size: 2rem"></i>
        </div>
      </div>
      <div class="col-12">
        <h5 class="rr-dark-purple-text text-bold">Fecha</h5>
        <div class="d-flex align-items-center justify-content-between">
          <span>{{ event.date | date:"dd/MM/yyyy" }}</span>
          <i class="bi bi-calendar ms-4 rr-dark-purple-text" style="font-size: 2rem"></i>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <h5 class="rr-dark-purple-text text-bold">
          Posibles horarios de inicio
          <i class="bi bi-info-circle-fill text-info-emphasis"
             placement="top"
             ngbTooltip="El horario en verde indica el horario que seleccionaste en la inscripción.
             El número a la derecha de cada horario indica la cantidad de veces que fue seleccionado."></i>
        </h5>
        <div class="d-flex align-items-center justify-content-between justify-content-lg-between me-lg-5">
          <div class="d-inline-block">
            @if(event.startingHours.length > 1) {
              @for (h of event.startingHours; track h) {
                <div class="d-inline-block border border-success rounded-5 pe-2 ps-2 me-2"
                     style="font-size: 0.85rem"
                     [ngClass]="h[0] === event.selectedStartingHour[0] && h[1] === event.selectedStartingHour[1]
                    ? 'border-success' : 'rr-border-primary-color'">
                  <span>{{ h | hour }}</span>
                  @if (h[0] === event.selectedStartingHour[0] && h[1] === event.selectedStartingHour[1]) {
                    <i class="bi bi-check-circle text-success ms-1"></i>
                  }
                  {{ getHourVotes(h) }}
                </div>
              }
            } @else {
              @for (h of event.startingHours; track h) {
                <div class="d-inline-block border rr-border-primary-color rounded-5 pe-2 ps-2 me-2"
                     style="font-size: 0.85rem">
                  <span>{{ h | hour }}</span>
                </div>
              }
            }
          </div>
          <i class="bi bi-clock ms-4 rr-dark-purple-text" style="font-size: 2rem"></i>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <h5 class="rr-dark-purple-text text-bold">Duración</h5>
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <span>{{ event.duration }} </span>
            @if (event.durationUnit === EventDurationUnit.HOUR) {
              <span>hora/s</span>
            } @else {
              <span>minutos</span>
            }
          </div>
          <i class="bi bi-stopwatch ms-4 rr-dark-purple-text" style="font-size: 2rem"></i>
        </div>
      </div>
      <div class="col-12">
        <h5 class="rr-dark-purple-text text-bold">Precio de inscripción</h5>
        <span>{{ event.inscriptionPrice }}</span>
      </div>
      <div class="col-12">
        <h5 class="rr-dark-purple-text text-bold">Participantes</h5>
        @for (p of event.eventParticipants; track p) {
          @if (!p.eventCreator || (p.eventCreator && event.eventCreatorIsParticipant)) {
            <i class="bi bi-person-fill"></i>
          }
        }
        @for (_ of Array.from({length: event.participantsLimit - event.eventParticipants.length});
          track _) {
          <i class="bi bi-person"></i>
        }
        <span> {{ event.eventParticipants.length }}/{{ event.participantsLimit }}</span>
      </div>
      <div class="col-12">
        <div class="d-flex align-items-center flex-wrap">
          @for (g of event.eventParticipants; track g) {
            @if (!g.eventCreator || (g.eventCreator && event.eventCreatorIsParticipant)) {
              <div class="guest me-1" (click)="onClickUser(g.participant.id)">
                @if (g.participant.base64encodedProfileImage != null) {
                  <img [src]="'data:image/*;base64, ' + g.participant.base64encodedProfileImage" alt="foto-invitado">
                } @else {
                  <div class="guest-name-container pe-1 ps-1">
                    <span>{{ g.participant.name }}</span>
                  </div>
                }
              </div>
            }
          }
          <button class="inviteButton btn d-inline-block">
            <span>+</span>
          </button>
        </div>
      </div>
      @if (event.state) {
        <div class="col-12">
          <div>
            @switch (event.state) {
              @case (EventState.WAITING_FOR_PARTICIPANTS) {
                <span class="badge bg-primary w-100" style="text-wrap: wrap;">Esperando por participantes</span>
              }
              @case (EventState.READY_TO_START) {
                <span class="badge bg-danger w-100" style="text-wrap: wrap;">Evento Lleno</span>
              }
              @case (EventState.SOON_TO_START) {
                <span class="badge bg-info w-100" style="text-wrap: wrap;">Evento pronto a comenzar</span>
              }
              @case (EventState.IN_PROCESS) {
                <span class="badge bg-success w-100" style="text-wrap: wrap;">Evento llevándose a cabo</span>
              }
              @case (EventState.FINALIZED) {
                <span class="badge bg-primary w-100" style="text-wrap: wrap;">Evento finalizado</span>
              }
              @case (EventState.CANCELED) {
                <span class="badge bg-danger w-100" style="text-wrap: wrap;">Evento Cancelado</span>
              }
            }
          </div>

        </div>
      }
      <div class="col-12">
        <button class="btn btn-success w-100" disabled>Modificar</button>
      </div>
      <div class="col-12">
        <button class="btn btn-danger w-100">Cancelar evento</button>
      </div>
    </div>
  </div>
  @if (showUserProfile) {
    <div class="position-fixed start-0 bottom-0 vh-100 w-100 d-flex
      justify-content-center align-items-center" style="background-color: var(--rr-primary);
        z-index: 1021">
      <button type="button" class="btn position-fixed top-0 start-0" (click)="onCloseUserProfileView()">
        <i class="bi bi-arrow-left" style="font-size: 1.5rem; font-weight: bold"></i>
      </button>
      <rr-user-public-profile [userId]="showedUserProfileId"/>
    </div>
  }
}

