#inviteButton {
  cursor: pointer;
  display: inline-block;
  background-color: var(--dark-purple);
  color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0 !important;
}


#inviteButton span {
  font-size: 1.5rem;
}

#inviteButton:focus {
  transform: scale(1.01);
  box-shadow: 0 0 0 0.25rem rgba(102, 51, 153, 0.2);
}

#inviteButton:active {
  transform: scale(0.95);
}



.guest {
  cursor: pointer;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0 !important;
  background-color: var(--dark-purple);
  color: white;
  text-align: center;
  line-height: 6rem;
}

.guest img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.guest-name-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
