:root {
  --rr-primary: #DFA61B;
  --rr-secondary: #DEBE1B;
  --primary-border: #943D08;
  --input-primary: #E0A41F;
  --dark-purple: #2F2349;
  --error: #C71726;
  --black-100: #1D1B17;
  --black-75: rgba(29, 27, 23, 0.75);
  --black-50: rgba(29, 27, 23, 0.5);
  --black-25: rgba(29, 27, 23, 0.25);
  --black-10: rgba(29, 27, 23, 0.1);
  --black-5: rgba(29, 27, 23, 0.05);
}

body {
  font-family: Inter,Onest Variable,system-ui,sans-serif;
  font-size: 18px;
  background-color: var(--rr-primary);
}

/* Texts */
h1 {
  font-weight: bold;
}
.rr-black-text {
  color: var(--black-100);
}

.rr-dark-purple-text {
  color: var(--dark-purple);
}

.text-bold {
  font-weight: bold;
}

.error-text {
  color: var(--error);
  font-style: italic;
  font-size: 0.95rem;
}


/* Form controls */

.rr-input {
  background-color: var(--input-primary);
  border-color: var(--primary-border);
  border-radius: 0.5rem;
  color: var(--black-100);
}

.rr-input:focus {
  background-color: transparent;
  border-color: #ce7a53;
  outline: 0;
  box-shadow: 0 0 0 0.30rem rgba(148, 61, 8, 0.25);
}

.rr-input:disabled {
  background-color: var(--black-10);
}

.transparent-input {
  background-color: transparent;
  border: 0;
}

.transparent-input:focus {
  background-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.rr-checkbox {
  background-color: var(--input-primary);
  border-color: var(--primary-border);
  border-radius: 0.5rem;
  color: var(--black-100);
}

.rr-checkbox:focus {
  background-color: transparent;
  border-color: #ce7a53;
  outline: 0;
  box-shadow: 0 0 0 0.30rem rgba(148, 61, 8, 0.25);
}

.rr-checkbox:checked {
  background-color: var(--primary-border);
  border-color: #ce7a53;
  outline: 0;
}

.rr-radio {
  background-color: var(--input-primary);
  border-color: var(--primary-border);
  border-radius: 0.5rem;
  color: var(--black-100);
}

.rr-radio:focus {
  background-color: transparent;
  border-color: #ce7a53;
  outline: 0;
  box-shadow: 0 0 0 0.30rem rgba(148, 61, 8, 0.25);
}

.rr-radio:checked {
  background-color: var(--primary-border);
  border-color: #ce7a53;
  outline: 0;
}

/* Buttons */

.btn:hover {
  transform: scale(1.01);
}

.btn:focus {
  transform: scale(1.01);
}

.rr-btn {
  background-color: var(--dark-purple);
  color: white;
  border-radius: 0.5rem;
}

.rr-btn:hover {
  background-color: var(--dark-purple);
  color: white;
  border-radius: 0.5rem;
  transform: scale(1.01);
}

.rr-btn:focus {
  background-color: var(--dark-purple);
  color: white;
  border-radius: 0.5rem;
  transform: scale(1.01);
  box-shadow: 0 0 0 0.25rem rgba(47, 35, 73, 0.25);
}

.rr-btn-secondary {
  background-color: var(--rr-secondary);
  color: var(--dark-purple);
  border-color: var(--dark-purple);
  border-radius: 0.5rem;
}

.rr-btn-secondary:hover {
  background-color: var(--rr-secondary);
  color: var(--dark-purple);
  border-color: var(--dark-purple);
  border-radius: 0.5rem;
  transform: scale(1.01);
}

.rr-btn-secondary:focus {
  background-color: var(--rr-secondary);
  color: var(--dark-purple);
  border-color: var(--dark-purple);
  border-radius: 0.5rem;
  transform: scale(1.01);
  box-shadow: 0 0 0 0.25rem rgba(47, 35, 73, 0.25);
}

.rr-hide-password-btn {
  background-color: transparent;
  border: solid 1px var(--primary-border);
  border-left: 0;
  border-radius: 0.5rem;
}

.rr-drag-btn {
  background-color: transparent;
  border: solid 1px var(--primary-border);
  border-radius: 0.5rem;
}

/* Borders */

.rr-border-primary-color {
  border-color: var(--primary-border) !important;
}

.rounded-bottom-corners {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.no-rounded-bottom-corners {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Backgrounds */
.rr-bg-primary {
  background-color: var(--rr-primary);
}

.rr-bg-secondary {
  background-color: var(--rr-secondary);
}
.bg-danger {
  background-color: var(--error);
}

/* Pagination */
.page-link {
  color: var(--dark-purple) !important;
  background-color: var(--rr-secondary);
  border: 1px solid var(--primary-border);
}

.page-link:hover {
  color: var(--dark-purple) !important;
  background-color: var(--rr-secondary);
  border: 1px solid var(--primary-border);
  box-shadow: 0 0 0 0.2rem rgba(148, 61, 8, 0.25);
}

.disabled > .page-link, .page-link.disabled {
  color: var(--dark-purple) !important;
  background-color: #a48f37 !important;
  border: 1px solid #6a3d24;
  pointer-events: none;
}

/* Other classes */
/* Button to invite guests */
.inviteButton {
  cursor: pointer;
  display: inline-block;
  background-color: var(--dark-purple);
  color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0 !important;
}


.inviteButton span {
  font-size: 1.5rem;
}

.inviteButton:focus {
  transform: scale(1.01);
  box-shadow: 0 0 0 0.25rem rgba(102, 51, 153, 0.2);
}

.inviteButton:active {
  transform: scale(0.95);
}

/* Preview of guests in an event */

.guest {
  cursor: pointer;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0 !important;
  background-color: var(--dark-purple);
  color: white;
  text-align: center;
  line-height: 6rem;
}

.guest img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.guest-name-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.guest:hover {
  transform: scale(1.05);
}

.guest:active {
  transform: scale(0.95);
}
