:root {
  --rr-primary: #DFA61B;
  --rr-secondary: #DEBE1B;
  --primary-border: #943D08;
  --input-primary: #E0A41F;
  --dark-purple: #2F2349;
  --error: #C71726;
  --black-100: #1D1B17;
  --black-75: rgba(29, 27, 23, 0.75);
  --black-50: rgba(29, 27, 23, 0.5);
  --black-25: rgba(29, 27, 23, 0.25);
  --black-10: rgba(29, 27, 23, 0.1);
  --black-5: rgba(29, 27, 23, 0.05);
}

body {
  font-family: Inter,Onest Variable,system-ui,sans-serif;
  font-size: 18px;
  background-color: var(--rr-primary);
}

.rr-input {
  background-color: var(--input-primary);
  border-color: var(--primary-border);
  border-radius: 10px;
  color: var(--black-100);
}

.rr-bg-secondary {
  background-color: var(--rr-secondary);
}

.rr-input:focus {
  background-color: transparent;
  border-color: #ce7a53;
  outline: 0;
  box-shadow: 0 0 0 0.30rem rgba(148, 61, 8, 0.25);
}

.rr-text {
  color: var(--black-100);
}

.rr-dark-purple-text {
  color: var(--dark-purple);
}

.rr-btn {
  background-color: var(--dark-purple);
  color: white;
  border-radius: 10px;
}

.rr-btn:hover {
  background-color: var(--dark-purple);
  color: white;
  border-radius: 10px;
  transform: scale(1.01);
}

.rr-btn:focus {
  background-color: var(--dark-purple);
  color: white;
  border-radius: 10px;
  transform: scale(1.01);
  box-shadow: 0 0 0 0.25rem rgba(47, 35, 73, 0.25);
}

.rr-border-primary-color {
  border-color: var(--primary-border);
}

.error-text {
  color: var(--error);
  font-style: italic;
  font-size: 0.95rem;
}
