<div class="container-fluid vh-100 d-flex justify-content-center">
  <div id="menu-container" class="align-self-center">
    <h1 class="text-bold rr-dark-purple-text text-center">Estadísticas</h1>
    <h3 class="rr-dark-purple-text text-center text-bold">¿Qué quieres hacer?</h3>
    <div class="row row-cols-1 justify-content-center gy-1 mt-2">
      <div class="col-7 d-flex justify-content-center" *hasPrivilege="'GENERATE_STATISTICS'">
        <button class="btn rr-btn w-100" (click)="onClickEventTrend()">
          Ver eventos por actividad.
        </button>
      </div>
      <div class="col-7" *hasPrivilege="'GENERATE_STATISTICS'">
        <button class="btn rr-btn w-100" (click)="onClickTopCreators()">
          Ver top 5 creadores por mes.
        </button>
      </div>
      <div class="col-7 d-flex justify-content-center" *hasPrivilege="'GENERATE_STATISTICS'">
        <button class="btn rr-btn w-100" (click)="onClickEventFeeStats()">
          Ver resumen de eventos pagos y no pagos.
        </button>
      </div>
      <div class="col-7 d-flex justify-content-center" *hasPrivilege="'GENERATE_STATISTICS'">
        <button class="btn rr-btn w-100" (click)="onClickInscriptionTrend()">
          Ver tendencias de inscripción a eventos.
        </button>
      </div>
    </div>
  </div>
</div>
